# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
!*.xcworkspace/xcshareddata/
xcuserdata/
*.xcuserstate
*.xcuserdatad

# CocoaPods
Pods/
Podfile.lock
*.podspec

# Build results
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
*.app

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# Firebase (보안을 위해 제외할 경우)
# GoogleService-Info.plist

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
Thumbs.db

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Codemagic
codemagic.yaml.enc

# Provisioning Profiles
*.mobileprovision
*.provisionprofile

# Certificates
*.p12
*.cer
*.certSigningRequest
*.p8

# Archive
*.xcarchive

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
